@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');

* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: var(--main-font);
       text-decoration: none !important;
       list-style: none !important;
       border: none !important;
       outline: none !important;
       scroll-behavior: smooth !important;
}

:root {
       --main-clr: #1883a7;
       --second-clr: #C69774;
       --hover-clr: #4e7181;
       --main-font: 'Almarai', sans-serif;
       --fw300: 300;
       --fw400: 400;
       --fw700: 700;
}

body {
       background-color: #efefef !important;
}

body::-webkit-scrollbar {
       width: 0.4rem;
}

body::-webkit-scrollbar-track {
       background-color: #fff;
}

body::-webkit-scrollbar-thumb {
       background-color: var(--main-clr);
       border-radius: 10px;
       outline: 1px solid slategrey;
}

/* Buttons */
.input {
       border: 2px solid transparent;
       height: 3.2em;
       font-size: 1.2rem;
       padding: 15px;
       outline: none;
       overflow: hidden;
       background-color: #F3F3F3;
       border-radius: 10px;
       transition: all 0.5s;
}

.input:hover,
.input:focus {
       border: 2px solid #4A9DEC;
       box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
       background-color: white;
}

/* ///Buttons */

main {
       height: 100vh;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
}

.content_side {
       width: 100%;
       height: 100%;
       background-color: rgb(255, 255, 255);
       display: flex;
       align-items: center;
       justify-content: center;
}

.content_side .wrapper_contentSide {
       width: 90%;
       height: 95%;
       border-radius: 20px;
       padding: 20px 15px;
       box-shadow: 0px 0px 10px 3px rgb(227 227 227 / 85%);
}

.content_side .wrapper_contentSide #signFace_form,
.content_side .wrapper_contentSide #loginFace_form {
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
}

.content_side .wrapper_contentSide #signFace_form .signFace {
       width: 95%;
       height: 90%;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: flex-start;
       row-gap: 40px;
}

.content_side .wrapper_contentSide #loginFace_form .loginFace {
       width: 95%;
       height: 55%;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: flex-start;
       row-gap: 40px;
}

.signFace .userName {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       row-gap: 40px;
}

.signFace .userName .FirstName,
.signFace .userName .LastName,
.signFace .userEmail,
.loginFace .userEmailLogin,
.signFace .userPhone,
.signFace .userName .FirstName #first_name,
.signFace .userName .LastName #last_name,
.signFace .userEmail #user_email,
.loginFace .userEmailLogin #user_email_login,
.signFace .userPhone #user_phone {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
}

.signFace .userName .FirstName,
.signFace .userName .LastName,
.signFace .userEmail,
.loginFace .userEmailLogin,
.signFace .userPhone {
       position: relative;
}

#fn_vaild,
#ln_vaild,
#email_vaild,
#num_vaild,
#pass_vaild,
#email_vaild_login,
#pass_vaild_login {
       position: absolute;
       top: 68px;
       right: 0;
       color: red;
       /* padding-top: 5px; */
}

#email_vaild_login,
#pass_vaild_login {
       position: absolute;
       top: 70px;
       right: 0;
       color: red;
       /* padding-top: 5px; */

}

.signFace .userPassword,
.loginFace .userPasswordLogin {
       position: relative;
       width: 100%;
}

.signFace .userPassword #user_password,
.loginFace .userPasswordLogin #user_password_login {
       /* position: relative; */
       width: 100%;
       padding-left: 45px;
}

.signFace .userPassword #show_pass_sign,
.loginFace .userPasswordLogin #show_pass_login,
.signFace .userPassword #hide_pass_sign,
.loginFace .userPasswordLogin #hide_pass_login {
       position: absolute;
       top: 22px;
       font-size: 1.4rem;
       left: 2%;
       cursor: pointer;
}

.signFace .footer_singUP,
.loginFace .footer_login {
       width: 100%;
       margin-top: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
       row-gap: 20px;
}

.signFace .footer_singUP #signUP_btn,
.loginFace .footer_login #login_btn {
       background-color: var(--main-clr);
       color: #fff;
       font-size: 1.8rem;
       padding: 15px 50px;
       border-radius: 15px;
       cursor: pointer;
       transition: all 0.3s ease-in-out;
}

.signFace .footer_singUP #signUP_btn:hover,
.loginFace .footer_login #login_btn:hover {
       background-color: var(--hover-clr);
       color: #fff;
}

.signFace .footer_singUP>span,
.loginFace .footer_login>span {
       display: flex;
       align-items: center;
       justify-content: space-between;
       column-gap: 10px;
}

.signFace .footer_singUP>span #login_txBtn,
.loginFace .footer_login>span #signUp_txBtn {
       font-size: 1.2rem;
       font-weight: var(--fw700);
       color: var(--hover-clr);
       padding-bottom: 3px;
       border-bottom: 2px solid var(--hover-clr) !important;
       cursor: pointer;
       transition: all 0.3s ease-in-out;
}

.signFace .footer_singUP>span #login_txBtn:hover,
.loginFace .footer_login>span #signUp_txBtn:hover {
       color: var(--main-clr);
       border-bottom-color: var(--main-clr) !important;
}





















.image_side {
       display: none;
       width: 50%;
       height: 100%;
       background-color: #effafc;
       background-image: url(Assets/background_Book\ 1.jpg);
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
}





/* Responsive Customize Page */

@media (max-width:767px) {}

@media (min-width:990px) {
       .image_side {
              display: block;
       }

       .content_side {
              width: 50%;
       }
}

@media (min-width:1400px) {}